<div>
  <img id="loading" src={{_constants.LOADING_GIF}} alt="loading-boobs" *ngIf="loading">
  <br/>
  <div class="row justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <div *ngIf="error != ''">
          <small class="form-text error">{{error}}</small>
          <br/>
        </div>
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control w-50" id="inputLogin" aria-describedby="loginHelp"
               placeholder="Enter login" [(ngModel)]="userDto.username" formControlName="login">
        <small id="loginHelp" class="form-text text-muted">use login used to register an account</small>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control w-50" id="inputPassword" aria-describedby="passwordHelp"
               [(ngModel)]="userDto.password" formControlName="password">
        <small id="passwordHelp" class="form-text text-muted">Don't remember your password? too baaaad...</small>
      </div>
      <h6>Don't have an account? Click
        <a href="register">here</a>
        to register.
      </h6>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  <br/>
  <br/>
  <br/>
</div>
