<br>

<form class="table-form">
  <table class="table table-hover projects-table">
    <thead>
      <tr>
        <th class="placeForImage">Icon</th>
        <th>Name</th>
        <th>Key</th>
        <th>Description</th>
        <th>Owner</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let project of projects">
      <tr (click)="goToProjectDetails(project.projectKey)">
        <td class="placeForImage"><img [src]="(project.icon | image) | async" height="50p" width="50p" alt=""></td>
        <td>{{project.name}}</td>
        <td>{{project.projectKey}}</td>
        <td>{{project.description}}</td>
        <td>{{project.owner.username}}</td>
        <td><button class="btn btn-primary" (click)="onConfigureProject(project)" *ngIf=isOwner(project.owner.username)>Configure Project</button></td>

      </tr>
    </tbody>
  </table>
</form>
<br/>
<br/>
<br/>

