<br>
<ul>
  <li><a [routerLink]="['/project']">Create new project</a></li>
</ul>

<form class="table-form">
  <table class="table table-hover projects-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Key</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let project of projects">
      <tr (click)="goToProjectDetails(project.projectKey)">
        <td>{{project.name}}</td>
        <td>{{project.projectKey}}</td>
        <td>{{project.description}}</td>
        <!--<td><button class="button btn-primary" (click)="onConfigureProject(project)">Configure Project</button></td>-->
        <td><button class="button btn-primary" (click)="onConfigureProject(project)">Configure Project</button></td>
      </tr>
    </tbody>
  </table>
</form>

