td {
  text-align: center;
}

.projects-table tr{
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
}

.project-key{
  width: 10%;
}

.project-type{
  width: 35%;
}

.project-description{
  width: 50%;
}
