<br>
<div class="row justify-content-center">
  <form [formGroup] = "projectForm" (ngSubmit)="createproject()">

    <div class="form-group">

      <div *ngIf="error != ''">
        <small class="form-text error">{{error}}</small>
        <br/>
      </div>

      <label for="inputName">Name</label>
      <input type="text" class="form-control w-100" id="inputName"
             placeholder="Enter project name" [(ngModel)]="projectDto.name" formControlName="name">
      <div *ngIf="checkControl('name')">
        <small id="nameLengthError" class="form-text text-danger" *ngIf="checkProjectNameLength()">Project must be between 5 to 30 characters.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="inputKey">Key</label>
      <input type="text" class="form-control w-100" id="inputKey"
             placeholder="Enter project key" [(ngModel)]="projectDto.projectKey" formControlName="projectKey">
      <div *ngIf="checkControl('projectKey')">
        <small id="projectKeyLengthError" class="form-text text-danger" *ngIf="checkProjectKeyLength()">Project must be between 3 to 8 characters.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input type="text" class="form-control w-200" id="inputDescription"
             placeholder="Enter description" [(ngModel)]="projectDto.description" formControlName="description">
      <div *ngIf="checkControl('projectKey')">
        <small id="descriptionLengthError" class="form-text text-danger" *ngIf="checkDescriptionLength()">Project description must be between 5 to 300 characters.</small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid">Create project</button>

    <div *ngIf="projectForm.invalid">
      <small class="form-text error">Please fill all fields.</small>
      <br/>
    </div>

  </form>

</div>
