<div class="issue-creation">
  <a class="text-create" (click)="issueModal.show()" id="btn-create-issue">Create issue</a>

  <div bsModal #issueModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="issueModal"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Create issue</h4>
          <button type="button" class="close pull-right" (click)="issueModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="createIssue(); issueModal.hide()" #f="ngForm">
        <div class="modal-body">
            <label for="type">Issue type<span class="required-star">*</span></label>
            <select [(ngModel)]="issueDetails.issueType" (change)="onTypeChange(f.value.issueType)" name="issueType" required>
              <option [ngValue]="type.issueType" *ngFor="let type of types"> {{ type.issueType }} </option>
            </select><br>

            <div [hidden]="!showFields(f.value.issueType)">
              <label for="summary">Summary<span class="required-star">*</span></label><br>
              <input name="summary" [(ngModel)]="issueDetails.summary" name="summary" required><br>

              <label for="description">Description</label><br>
              <textarea name="description" cols="50" [(ngModel)]="issueDetails.description"></textarea><br>

              <label for="assignees">Assignees</label><br>
              <div class="assignees-multi-select" (click)="getAssignees()">
                <angular2-multiselect [data]="projectMembers"
                                      [(ngModel)]="selectedItems"
                                      [settings]="settings"
                                      name="assignees">
                </angular2-multiselect>
              </div>
              <br>

              <label for="estimateTime">Estimate time</label><br>
              <input name="estimateTime" [(ngModel)]="issueDetails.estimateTime"><br><br>

              <label for="priority">Priority<span class="required-star">*</span></label>
              <select name="priority" [(ngModel)]="issueDetails.priority" name="priority" required>
                <option value="HIGH">HIGH</option>
                <option value="LOW">LOW</option>
              </select><br>

              <div class="user-defined-fields" *ngFor="let field of issueFields">
                <label for="{{ field.fieldName }}"> {{ field.fieldName }}<span class="required-star" *ngIf="field.isRequired">*</span></label>
                <input name="{{ field.fieldName }}" [(ngModel)]="field.content" [required]="field.isRequired" [maxLength]="field.maxCharacters">
                <br>
              </div>

            </div>
        </div>
        <span class="modal-footer">
            <button class="btn btn-primary" id="btn-create" [disabled]="!f.valid">Create</button>
            <a class="btn btn-primary" id="btn-cancel" (click)="issueModal.hide()">Cancel</a>
        </span>
      </form>
      </div>
    </div>
  </div>
</div>
