<div class="issue-creation">
    <button class="btn btn-primary" (click)="lgModal.show()">Create issue</button>
 
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Create issue</h4>
            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="overflow-y: auto;height: 500px;font-size: 16px;display: inline-block;text-align: center;">
            <form>
                <label for="summary">Summary</label><br>
                <input name="summary"><br>
                    
                <label for="description">Description</label><br>
                <textarea name="description" cols="50"></textarea><br>
                    
                <label for="assignees">Assignees</label><br>
                <angular2-multiselect [data]="itemList" 
                [(ngModel)]="selectedItems" 
                [settings]="settings" 
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)" 
                (onSelectAll)="onSelectAll($event)" 
                (onDeSelectAll)="onDeSelectAll($event)"
                name="assignees">
                </angular2-multiselect><br>

                <label for="estimateTime">Estimate time</label><br>
                <input name="estimateTime"><br><br>
                    
                <label for="priority">Priority</label>
                <select name="priority">
                    <option value="HIGH">HIGH</option>
                    <option value="LOW">LOW</option>
                </select><br>
                    
                <label for="type">Issue type</label>
                <select name="type">
                    <option value="TASK">TASK</option>
                    <option value="BUG">BUG</option>
                    <option value="FEATURE">FEATURE</option>
                </select><br>
            </form>
        </div>
        <span class="modal-footer">
            <button class="btn btn-primary" id="btn-create">Create</button>
            <button class="btn btn-primary" id="btn-cancel" (click)="lgModal.hide()">Cancel</button>
        </span>
        </div>
    </div>
</div>