.issue-creation a {
    cursor: pointer;
}

#btn-create, #btn-cancel, #btn-create-issue {
    background-color: #212529;
    border-color: #212529;
}

.modal-body input, textarea, select{
    border-radius: 3px;
}

.assignees-multi-select {
    width: 300px; 
    text-align:center;
    display: inline-block;
}

.modal-body {
    overflow-y: auto;
    height: 500px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}