.loader-hidden {
  visibility: hidden;
}

.loader-overlay {
  position: absolute;
  top:0;
  left: 0;
  opacity: 0.7;
  z-index: 500000;
}

#loading {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
