a{
  cursor: pointer;
}
body{
  background: #343d46;
}

.form-control {
  width: 85px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.form-control:hover{
  width: 220px;
}
.form-control:focus{
  width: 220px;
}

.notifications-dropdown {
  float: right;
  margin-left: 63%;
}

.fa-bell:hover {
  cursor: pointer;
}

.single-notification {
  border-bottom: 2px slategray solid;
  width: 300px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 20em;
}

.dropdown-menu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
	background-color: #F5F5F5;
}

.dropdown-menu::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.dropdown-menu::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
