<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <a class="nav-item nav-link active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/project']" *ngIf="checkLogin()">New project</a>
      <a class="nav-item nav-link" [routerLink]="['/login']" *ngIf="!checkLogin()">Login</a>
      <a class="nav-item nav-link" [routerLink]="['/register']" *ngIf="!checkLogin()">Register</a>
      <a class="nav-item nav-link" data-toggle="collapse" data-target="#navbarNavAltMarkup" (click)="logout()" *ngIf="checkLogin()">Logout</a>
      </ul>
      <div class="dropdown notifications-dropdown" *ngIf="checkLogin()">
          <span class="fa fa-bell" aria-hidden="true" aria-hidden="true" type="button" data-toggle="dropdown" (click)="updateNotifications()"> 
            {{ storage.amountOfNewNotifications }} 
          </span>
          <ul class="dropdown-menu">
            <li class="single-notification" *ngFor="let notification of storage.notifications"> {{ notification.content }} </li>
          </ul>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-link" *ngIf="checkLogin()">Hello {{ getCurrentUser() }}!</li> &nbsp; &nbsp;
        <form #formSearch="ngForm" (ngSubmit)="search(formSearch.value.query)">
          <div class="row">
            <li class="nav-item">
              <input type="text" name="query" ngModel #query="ngModel" class="form-control" placeholder="Search..."/>
            </li>
            <li class="nav-item">
              <input type="image" [src]="searchIcon" alt="Submit" data-toggle="collapse" data-target="#navbarNavAltMarkup"/>
            </li>
          </div>
        </form>
      </ul>
  </div>
</nav>
