<div class="project-name">
  <h3>{{ projectDetails?.projectDto?.name }}</h3>
</div>
    <div class="list-panel" id="list-panel">
      <ol class="issue-list" style="display: inline; list-style-type: none;">
        <!-- <li *ngFor="let issue of projectDetails.issues">
          <a (click)="selectIssue(issue.id)">{{ issue.id }} : {{ issue.summary }} </a>
        </li> //TODO SCROLL BAR -->
        <li>
          <p class="key"><b>PROJS-1</b></p>
          <p>Summary</p>
        </li>
        <li>
            <p class="key">PROJS-1</p>
            <p>Summary</p>
          </li>
          <li>
              <p class="key">PROJS-1</p>
              <p>Summary</p>
            </li>
            <li>
                <p class="key">PROJS-1</p>
                <p>Summary</p>
              </li>
              <li>
                  <p class="key">PROJS-1</p>
                  <p>Summary</p>
                </li>
                <li>
                    <p class="key"><b>PROJS-1</b></p>
                    <p>Summary</p>
                  </li>
                  <li>
                      <p class="key">PROJS-1</p>
                      <p>Summary</p>
                    </li>
                    <li>
                        <p class="key">PROJS-1</p>
                        <p>Summary</p>
                      </li>
                      <li>
                          <p class="key">PROJS-1</p>
                          <p>Summary</p>
                        </li>
                        <li>
                            <p class="key">PROJS-1</p>
                            <p>Summary</p>
                          </li>
                          <li>
                              <p class="key"><b>PROJS-1</b></p>
                              <p>Summary</p>
                            </li>
                            <li>
                                <p class="key">PROJS-1</p>
                                <p>Summary</p>
                              </li>
                              <li>
                                  <p class="key">PROJS-1</p>
                                  <p>Summary</p>
                                </li>
                                <li>
                                    <p class="key">PROJS-1</p>
                                    <p>Summary</p>
                                  </li>
                                  <li>
                                      <p class="key">PROJS-1</p>
                                      <p>Summary</p>
                                    </li>
                                    <li>
                                        <p class="key"><b>PROJS-1</b></p>
                                        <p>Summary</p>
                                      </li>
                                      <li>
                                          <p class="key">PROJS-1</p>
                                          <p>Summary</p>
                                        </li>
                                        <li>
                                            <p class="key">PROJS-1</p>
                                            <p>Summary</p>
                                          </li>
                                          <li>
                                              <p class="key">PROJS-1</p>
                                              <p>Summary</p>
                                            </li>
                                            <li>
                                                <p class="key">PROJS-1</p>
                                                <p>Summary</p>
                                              </li>
                                              <li>
                                                  <p class="key"><b>PROJS-1</b></p>
                                                  <p>Summary</p>
                                                </li>
                                                <li>
                                                    <p class="key">PROJS-1</p>
                                                    <p>Summary</p>
                                                  </li>
                                                  <li>
                                                      <p class="key">PROJS-1</p>
                                                      <p>Summary</p>
                                                    </li>
                                                    <li>
                                                        <p class="key">PROJS-1</p>
                                                        <p>Summary</p>
                                                      </li>
                                                      <li>
                                                          <p class="key">PROJS-1</p>
                                                          <p>Summary</p>
                                                        </li>
      </ol>
    </div>

    <div class="issue-details" id="issue-details" style="display: inline">
      <h5>PROJS-1</h5>
      <h6>Test summary</h6>
      <br>
      <div class="issue-det">
          <span>Type: TASK</span>
          <span>Assignees: </span>
          <br>
          <span>Priority: HIGH</span>
      </div>
    </div>