<div>
  <img id="loading" src="../../assets/images/loading_boobs.gif" alt="loading-boobs" *ngIf="loading">
  <div class="project-name">
    <h3>{{ projectDetails?.projectDto?.name }}</h3>
  </div>

  <span><app-issue-creation [projectKey]="projectKey" (onIssueCreate)="onIssueCreate($event)" *ngIf="!loading"></app-issue-creation></span>

<div class="list-panel" id="list-panel" *ngIf="showIssueList()">
      <ul class="issue-list">
        <li *ngFor="let issue of projectDetails.issues" (click)="selectIssue(issue.id)">
            <p class="key"><b>{{ issue.issueKey }}</b></p>
            <p>{{ issue.summary }}</p>
        </li>
  </ul>
</div>

  <div class="issue-details" id="issue-details" *ngIf="selectedIssue">
    <h5>{{ selectedIssue.key }}<b>(STATUS)</b></h5>
    <h6>{{ selectedIssue.summary }}</h6>
    <div class="underline"></div>
    <div class="issue-details-table">
      <div class="col-1-details">
        <span><b>Type:</b> {{ selectedIssue.issueType }}</span><br>
        <span><b>Priority: </b>{{ selectedIssue.priority }}</span>
      </div>
      <div class="col-2-details">
        <span><b>Created at: </b>{{ selectedIssue.createdDate }}</span><br>
        <span><b>Updated at: </b>{{ selectedIssue.lastUpdate }}</span>
      </div>
      <div class="col-3-details">
        <span><b>Estimated time: </b>{{ selectedIssue.estimateTime }}</span><br>
        <span><b>Remaining time: </b>{{ selectedIssue.remainingTime }}</span>
      </div>
      <div class="col-4-details">
        <span><b>Reporter: </b>{{ selectedIssue.reporter.username }}</span><br>
        <span>
          <b>Assignees:</b>
          <span *ngFor="let user of selectedIssue.assignees">{{ user.username }}</span>
        </span>
      </div>
    </div>
    <div class="more-details">
      <b>Description</b>
      <div class="issue-description">{{ selectedIssue.description }}</div>
    </div>

    <div>
      <div>
        <button class="btn btn-primary" *ngIf=checkAssignees() (click)="onAddtoIssue()">Assign me to issue</button>
      </div>
      <div class="requestsManager" *ngIf=isOwner()>
        <h6><b>Members:</b></h6>
        <div *ngIf="selectedIssue.requesters; else noRequesters">
          <div class="requestTable" *ngFor="let requests of selectedIssue.requesters">
            <div class="col-1-details">{{requests.username}}</div>
            <div class="col-2-details"><button class="btn btn-success" (click)="onAcceptAssign()">Accept</button></div>
            <div class="col-3-details"><button class="btn btn-warning" (click)="onDeclineAssign()">Decline</button></div>
          </div>
        </div>
        <ng-template #noRequesters>
          No one wants to join
        </ng-template>
      </div>
    </div>
  </div>

  <div class="no-issues-found" *ngIf="!showIssueList() && !loading">
    <h4>Sorry, we didn't find issues for this project</h4>
  </div>
</div>
