.project-name {
	margin-left: 10px;
	border-bottom: 2px slategray solid;
	border-top: 2px slategray solid;
	margin-top: 5px;
	width: 99%;
}

.issue-list {
	display: inline;
	list-style-type: none;
}

.issue-list li {
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	border-bottom: 2px slategray solid;
}

.issue-list li:hover {
	background-color: rgb(222, 226, 226);
}

.issue-list p {
	margin: 0;
}

.issue-list .key {
	font-size: 15px;
}

.list-panel, .issue-details {
    width:100px;
    height:100px;
    margin-right:10px;
	float:left;
	margin-left: 15px;
}

.list-panel {
	width: 15% !important;
	overflow-y: auto;
    height: 31.5em;
    font-size: 16px;
	display: inline-block;
	margin-top: 1px;
}

.issue-details {
	margin-top: 25px;
	margin-left: 50px;
	width: 65% !important;
	overflow-y: auto;
  height: 100%;
    font-size: 16px;
    display: inline-block;
}

.issue-details span {
	margin-right: 50px;
	width: 500px;
}

.issue-details-table {
	margin-top: 10px;
	display: table;
}

.col-2-details {
	width: 250px;
}

.col-4-details {
	margin-left: 5px;
}

.underline {
	margin-top: 10px;
	border-bottom: 2px slategray solid;
}

.col-1-details, .col-2-details, .col-3-details, .col-4-details {
	display: table-cell !important;
}

.more-details {
	margin-top: 5em;
}

.more-details .issue-description {
	overflow-y: auto;
  height: 3em;
	margin-top: 5px;
}

.list-panel::-webkit-scrollbar-track, .more-details .issue-description::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
	background-color: #F5F5F5;
}

.list-panel::-webkit-scrollbar, .more-details .issue-description::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.list-panel::-webkit-scrollbar-thumb, .more-details .issue-description::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.single-comment:hover {
	background-color: #eaeae1;
	cursor: pointer;
}

#commentContent:disabled {
   border: none;
   background-color: white;

}

/* #commentContent:hover {
  border: none;
  background-color: #eaeae1;
} */

.editcomment {
  width: 98%;
}

.assign-text:hover {
  background-color: rgb(222, 226, 226);
}

.assign-text {
  border-bottom: 2px black solid !important;
  color: darkblue;
  cursor: pointer;
}

.assign-table .col-1-details {
  width: 40%;
}

.modal-body .col-1-details {
  width: 40%;
}

.assign-table .col-2-details {
  width: 10%;
}

.modal-body .col-2-details {
  width: 10%;
}

.issue-header .col-1-details {
  width: 70%;
}

.issue-header .col-2-details {
  margin-right: 1%;
  vertical-align: bottom;
}

.assign-text:hover {
  background-color: rgb(222, 226, 226);
}

.assign-text {
  border-bottom: 2px black solid !important;
  color: darkblue;
  cursor: pointer;
}

.assign-table .col-1-details {
  width: 40%;
}

.modal-body .col-1-details {
  width: 40%;
}

.assign-table .col-2-details {
  width: 10%;
}

.modal-body .col-2-details {
  width: 10%;
}

.issue-header .col-1-details {
  width: 70%;
}

.issue-header .col-2-details {
  margin-right: 1%;
  vertical-align: bottom;
}
