<div class="main">
  <div class="header">
    <button class="button btn-primary backButton" [routerLink]="['/home']">Back</button>
    <h3>Project Configuration</h3>
  </div>

  <table class="projectInfo">
    <tbody>
    <tr>
      <td>
        <h6>Project name:</h6>
        {{project.name}}
      </td>
      <td align="center" rowspan="2"><h6>Icon: </h6>
        <input *ngIf="goodIcon && !loading" type="image" src="{{project.image}}" (click)="changeIcon.click()" alt=""/>
        <input *ngIf="!goodIcon && !loading" type="image" src="../../assets/images/error.gif"
               (click)="changeIcon.click()" alt=""/>
        <input *ngIf="loading" type="image" src="../../assets/images/loading_boobs.gif" (click)="changeIcon.click()"
               alt=""/>
        <input type="file" #changeIcon
               style="display: none;"
               (change)="chooseIcon($event.target.files)"
               accept="image/jpeg, image/png"/>
        <div *ngIf="!goodIcon">
          <small id="fileUploadError" class="form-text text-danger">Icon must be in .jpg or .png format</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h6>Description:</h6>
        {{project.description}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="table-member-main">
    <br/>
    <div class="error" *ngIf="error != ''" align="center">
      <small class="form-text">{{error}}</small>
    </div>
    <h6><b>Members:</b></h6>
    <div class="members-table" *ngFor="let member of project.members">
      <div class="col-1-details">{{member.username}}</div>
      <div class="col-2-details">{{member.role}}</div>
      <div class="col-3-details">
        <button class="button btn-danger" (click)="removeMemberFromProject(member)">Remove form project</button>
      </div>
      <br/>
    </div>
    <br/>
  </div>

  <div class="request-table">
    <h6><b>Requests for access:</b></h6>
    <div *ngFor="let request of project.requests">
      <div class="col-1-details">{{request.username}}</div>
      <div class="col-2-details">Suggested role: <b>{{request.role}}</b></div>
      <div class="col-3-details">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="requestDropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Accept as
          </button>
          <div class="dropdown-menu" aria-labelledby="requestDropdown">
            <a class="dropdown-item" *ngFor="let role of rolesTypes"
               (click)="acceptRequest(request.username, role)"
            >
              {{role.toLocaleUpperCase()}}
            </a>
          </div>
        </div>
      </div>
      <div class="col-4-details">
        <button class="button btn-danger" (click)="declineRequest(request)">Decline</button>
      </div>
      <br/>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th class="td-user">Add member &nbsp;&nbsp;<input #search (keyup)="0" placeholder="Search for member"></th>
      <th class="td-role"></th>
    </tr>
    </thead>
    <tbody *ngFor="let u of (users | filter : search.value)">
    <tr>
      <td class="td-user">{{u.username}} ({{u.firstname}} {{u.lastname}})</td>
      <td class="td-role">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="addDropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Add as
          </button>
          <div class="dropdown-menu" aria-labelledby="addDropdown">
            <a class="dropdown-item" *ngFor="let role of rolesTypes"
               (click)="addUserToProject(u.username, role)"
            >
              {{role.toLocaleUpperCase()}}
            </a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
