<div>
  <div class="main">
    <h3>Project Configuration</h3>

    <div>
      <h6>Project name:</h6>
      {{project.name}}
      <br/>
    </div>

    <div>
      <br/>
      <h6>Description:</h6>
      {{project.description}}

    </div>
    <br/>
    <div class="table-member-main">
      <br/>
      <h6><b>Members:</b></h6>
      <div class="col-1-details"><b>Username</b></div>
      <div class="col-2-details"><b>Role</b></div>
      <div class="members-table" *ngFor="let members of project.members">
        <div class="col-1-details">{{members.username}}</div>
        <div class="col-2-details">{{members.role}}</div>
        <div class="col-3-details">
          <button class="button btn-danger" (click)="removeMemberFromProject(members)">Remove form project</button>
        </div>
      </div>
      <br/>
    </div>

    <br/>
    <table class="table">
      <thead>
      <tr>
        <th class="td-user">Add member &nbsp;&nbsp;<input #search (keyup)="0" placeholder="Search for member"></th>
        <th class="td-role"><span [hidden]="search.value.toString() === ''">Assign role</span></th>
        <th class="td-button"></th>
      </tr>
      </thead>
      <tbody *ngFor="let u of (users | filter : search.value)">
      <tr>
        <td class="td-user">{{u.username}} ({{u.firstname}} {{u.lastname}})</td>
        <td class="td-role">
          <select [ngModel]="selectedRole" (ngModelChange)="updateSelected($event)">
            <option *ngFor="let role of roles"
                    [value]="role">{{role}}
            </option>
          </select>
        </td>
        <td class="td-button">
          <button class="button btn-success" (click)="addUserToProject(u)">Add {{selectedRole}}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="backBut" align="right">
    <button class="button btn-primary" [routerLink]="['/home']">Back</button>
  </div>
</div>
