.col-1-details, .col-2-details, .col-3-details, .col-4-details{
  display: table-cell !important;
}

.col-1, .col-2, .col-3 .col-4 {
  display: table-cell !important;
}

.table-member-main {
  border-bottom: 2px slategray solid;
  border-top: 2px slategray solid;
  margin-bottom: 10px;
  margin-top: 10px;
}

.members-table {
  margin-top: 10px;
  display: table;
  margin-right: 10px;
}

.col-1-details {
  width: 30%;
}

.col-2-details {
  width: 30%;
}

.col-3-details {
  align-content: center;
  width: 25%;
}

.request-table .col-1-details {
  align-content: center;
  width: 30%;
}
.request-table .col-2-details {
  align-content: center;
  width: 30%;
}

.request-table .col-3-details {
  width: 10%;
  margin-right: 1%;
}
.request-table .col-4-details {
  width: 10%;
  margin-left: 1%;
}

.header {
  border-bottom: 2px slategray solid;
}

.header button {
  width: 10%;
  float: right;
  margin-right: 1%;
}

.header h3 {
  text-align: center;
  margin-left: 1%;
}

.main {
  margin-left: 1%;
  margin-right: 1%;
  border-top: 2px slategray solid;
  margin-top: 5px;
  width: 98%;
}

.td-user {
  width: 50%;
}

.td-role {
  width: 40%;
}

.error {
  color: red;
}

.projectInfo {
  margin-bottom: 1%;
  margin-top: 1%;
  width: 95%;
}

.projectInfo.desc{
  width: 80%;
  margin-left: 1%;
  margin-right: 1%;
  vertical-align: top;
}

.projectInfo .icon{
  width: 15%;
  margin-left: 1%;
  margin-right: 1%;
  vertical-align: top;
}

.projectInfo input {
  width: 120px;
  height: 120px;
}

.request-table {
  border-bottom: 2px slategray solid;
}

.dropdown-item {
  cursor: pointer;
}

.conf-issues {
  width: 150px;
}

