<div class="main">
  <div class="header">
    <button class="button btn-primary backButton" [routerLink]="['/home']">Back</button>
    <h3>Project Configuration</h3>
  </div>

  <table class="projectInfo">
    <tbody>
    <tr>
      <td colspan="2">
        <h6>Project name:</h6>
        {{project.name}}
      </td>
      <td><h6 align="center">Icon: </h6>
          <input type="image" src="{{project.image}}" (click)="changeIcon.click()" alt="No icon yet"/>
          <input type="file" #changeIcon
                 style="display: none;"
                 (change)="chooseIcon($event.target.files)"
                 accept="image/jpeg, image/png"/>
      </td>
    </tr>
    <tr>
      <td>
        <h6>Description:</h6>
        {{project.description}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="table-member-main">
    <br/>
    <div class="error" *ngIf="error != ''" align="center">
      <small class="form-text">{{error}}</small>
    </div>
    <h6><b>Members:</b></h6>
    <div class="members-table" *ngFor="let members of project.members">
      <div class="col-1-details">{{members.username}}</div>
      <div class="col-2-details">{{members.role}}</div>
      <div class="col-3-details">
        <button class="button btn-danger" (click)="removeMemberFromProject(members)">Remove form project</button>
      </div>
      <br/>
    </div>
    <br/>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th class="td-user">Add member &nbsp;&nbsp;<input #search (keyup)="0" placeholder="Search for member"></th>
      <th class="td-role"></th>
    </tr>
    </thead>
    <tbody *ngFor="let u of (users | filter : search.value)">
    <tr>
      <td class="td-user">{{u.username}} ({{u.firstname}} {{u.lastname}})</td>
      <td class="td-role">
        <span><b>Add as: &nbsp;</b></span>
        <select class="button btn-success"
                [ngModel]="selectedRole"
                (ngModelChange)="addUserToProject(u.username, $event)">
          <option *ngFor="let role of rolesTypes"
                  [value]="role">{{role.toLocaleUpperCase()}}
          </option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
</div>
