<div>
  <button (click)="addField(fields.length)">Create new field</button>
</div>

<form #form="ngForm" *ngFor="let field of fields" (ngSubmit)="determineField(form.value)">
  <div>
    <label for="fieldName">Field name</label>
    <input name="fieldName" ngModel #fieldName="ngModel" required>
    <select name="fieldType" id="field-type" ngModel #fieldType required>
      <option *ngFor="let type of fieldTypesArray" [ngValue]="type">{{ type }}</option>
    </select>
    <label for="isRequired">Is required?</label>
    <input type="checkbox" name="isRequired" ngModel #isRequired required>
    <span (click)="removeField(field, form.value.fieldType)">X</span>
    <br>
    <div class="additional-params">
      <div class="params-input-field" *ngIf="form.value.fieldType==='INPUT_FIELD'">
        <label for="maxChars">Maximum characters</label>
        <input type="number" name="maxChars" ngModel #maxChars="ngModel" required>

        <label for="minChars">Minimum characters</label>
        <input type="number" name="minChars" ngModel #minChars="ngModel" required>
      </div>
    </div>
    <button>Submit</button>
  </div>
</form>
