/* You can add global styles to this file, and also import other style files */
.custom-class-example {
    color: #ccc !important;
    width: 50%;
}
.custom-class-example .c-token{
    background: #212529 !important;
}
.custom-class-example .pure-checkbox label::before {
    border-color: #212529 !important;
}
.custom-class-example .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
    background: #212529 !important;
}

.custom-class-example .pure-checkbox[_ngcontent-c3] input[type="checkbox"][_ngcontent-c3]:checked + label[_ngcontent-c3]:before {
    animation: borderscale 200ms ease-in;
    background: #212529;
}

/* .custom-class-example .selected-list[_ngcontent-c3] .c-btn[_ngcontent-c3] {
    width: 50%;
    box-shadow: 0px 1px 5px #959595;
    padding: 10px;
    cursor: pointer;
    display: flex;
} */