/* You can add global styles to this file, and also import other style files */
.justify-content-center{
  margin-left: 0px;
  margin-right: 0px;
}

footer{
  margin-top: 30px;
  padding: 30px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 0px;
  text-align: center;
  background-color: #ccc;
  vertical-align: middle;
}
.custom-class-example {
    color: #ccc !important;
    width: 50%;
}
.custom-class-example .c-token{
    background: #212529 !important;
}
.custom-class-example .pure-checkbox label::before {
    border-color: #212529 !important;
}
.custom-class-example .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
    background: #212529 !important;
}

.custom-class-example .pure-checkbox[_ngcontent-c3] input[type="checkbox"][_ngcontent-c3]:checked + label[_ngcontent-c3]:before {
    animation: borderscale 200ms ease-in;
    background: #212529;
}

#btn-create, #btn-cancel {
    background-color: #212529;
    border-color: #212529;
}

a {
    cursor: pointer !important;
}
